.canvas{
        background-image: url("../images/background2.jpg");
        position:absolute;
        border: 20px solid black;
        margin: 20px 20px 20px 20px;
        
}
.tile{
	display:block;
	float:left;
	width:70px;
	height:80px;
	margin:3px;
	text-indent:12px;
	line-height:36px;
	border: 1px #808080 solid;
	border-radius: 2px;
	color:#000;
	text-shadow: -1px -1px 1px rgb(40,40,40);
	font-family: "NewsGoth Cn BT", Optima-Thin, "MS Gothic";
	font-size:24px;
	margin-top:55px;
	margin-left:10px;
	background-image: -webkit-gradient(
		linear,
		right bottom,
		left top,
		color-stop(0.5, rgb(222,196,139)),
		color-stop(0.7, rgb(230,204,147))
	);
	background-image: -moz-linear-gradient(
		right bottom,
		rgb(222,196,139) 50%,
		rgb(230,204,147) 70%,
	);
	
	
	-moz-box-shadow:  0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
	-webkit-box-shadow: 0 1px 0 #b69c63, 1px 2px 0 #b69c63, 2px 3px 1px #b69c63;
	box-shadow: 0 1px 0 #808080, 7px 2px 0 #808080, 2px 3px 1px #808080;
	-webkit-animation-duration:1s;
        -webkit-animation-iteration-count: infinite;
}

.tile-1{
        background-image: url("../images/s1.jpg");
}

.tile-2{
        background-image: url("../images/s2.jpg");
}

.tile-3{
        background-image: url("../images/s3.jpg");
}

.tile-4{
        background-image: url("../images/s4.jpg");
        width:60px;
}
.tile-5{
        background-image: url("../images/s5.jpg");
        width:60px;
}

.tile-6{
        background-image: url("../images/s6.jpg");
        width:65px;
}
.tile-7{
        background-image: url("../images/s7.jpg");
        height:75px;
}

.tile-8{
        background-image: url("../images/s8.jpg");
        height:71px;
        width:55px;
}
.tile-9{
        background-image: url("../images/s9.jpg");
        height:71px;
        width:55px;
}

.tile-10{
        background-image: url("../images/s10.jpg");
        height:68px;
        width:60px;
}

.holder{
        background-image:url("../images/holder2.jpg") ;
        width: 640px;
        height: 182px;
        margin:100px auto 0 auto;
        
        

}

.tile:hover{
        box-shadow: 0 1px 0 #b69c63, 7px 2px 20px #49e17a, 2px 3px 1px #b69c63 ;
        
}

h1 {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  color:white;
  font-family:Arial;
  font-size:100%;
  text-align:center;
  
}

.small{
        font-size:100%;
}



